<form class="contact-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="contact-form__section">
    <div class="contact-form__section-head">
      <h3 class="contact-form__section-title">Personal details</h3>
    </div>

    <div class="contact-form__grid">
      <app-form-field
        #firstName
        name="firstName"
        label="First name"
        [required]="true"
        [span]="6"
        [messages]="messages()['firstName']"
      >
        <input
          pInputText
          id="firstNameInput"
          formControlName="firstName"
          autocomplete="given-name"
          [attr.aria-describedby]="firstName.describedBy()"
        />
      </app-form-field>

      <app-form-field
        #surname
        name="surname"
        label="Surname"
        [required]="true"
        [span]="6"
        [messages]="messages()['surname']"
      >
        <input
          pInputText
          id="surnameInput"
          formControlName="surname"
          autocomplete="family-name"
          [attr.aria-describedby]="surname.describedBy()"
        />
      </app-form-field>

      <app-form-field
        #dateOfBirth
        name="dateOfBirth"
        label="Date of birth"
        hint="Format: 2001-04-30"
        [required]="true"
        [span]="6"
        [messages]="messages()['dateOfBirth']"
      >
        <p-datepicker
          inputId="dateOfBirthInput"
          formControlName="dateOfBirth"
          dateFormat="yy-mm-dd"
          [maxDate]="today"
          [minDate]="earliest"
          [showIcon]="true"
          appendTo="body"
        />
      </app-form-field>

      <app-form-field
        #phoneNumber
        name="phoneNumber"
        label="Phone number"
        [required]="true"
        [span]="6"
        [messages]="messages()['phoneNumber']"
      >
        <input
          pInputText
          id="phoneNumberInput"
          formControlName="phoneNumber"
          inputmode="tel"
          autocomplete="tel"
          [attr.aria-describedby]="phoneNumber.describedBy()"
        />
      </app-form-field>

      <app-form-field
        #iban
        name="iban"
        label="IBAN"
        [required]="true"
        [span]="12"
        [messages]="messages()['iban']"
      >
        <input
          pInputText
          id="ibanInput"
          formControlName="iban"
          spellcheck="false"
          autocapitalize="characters"
          class="contact-form__iban"
          [attr.aria-describedby]="iban.describedBy()"
        />
      </app-form-field>
    </div>
  </section>

  <section class="contact-form__section" formGroupName="address">
    <div class="contact-form__section-head">
      <h3 class="contact-form__section-title">Address</h3>
    </div>

    <div class="contact-form__grid">
      <app-form-field
        #street
        name="street"
        label="Street"
        [required]="true"
        [span]="9"
        [messages]="messages()['address.street']"
      >
        <input
          pInputText
          id="streetInput"
          formControlName="street"
          autocomplete="address-line1"
          [attr.aria-describedby]="street.describedBy()"
        />
      </app-form-field>

      <app-form-field
        #houseNumber
        name="houseNumber"
        label="House number"
        [span]="3"
        [messages]="messages()['address.houseNumber']"
      >
        <input
          pInputText
          id="houseNumberInput"
          formControlName="houseNumber"
          [attr.aria-describedby]="houseNumber.describedBy()"
        />
      </app-form-field>

      <app-form-field
        #postalCode
        name="postalCode"
        label="Postal code"
        [required]="true"
        [span]="3"
        [messages]="messages()['address.postalCode']"
      >
        <input
          pInputText
          id="postalCodeInput"
          formControlName="postalCode"
          autocomplete="postal-code"
          [attr.aria-describedby]="postalCode.describedBy()"
        />
      </app-form-field>

      <app-form-field
        #city
        name="city"
        label="City"
        [required]="true"
        [span]="5"
        [messages]="messages()['address.city']"
      >
        <input
          pInputText
          id="cityInput"
          formControlName="city"
          autocomplete="address-level2"
          [attr.aria-describedby]="city.describedBy()"
        />
      </app-form-field>

      <app-form-field
        name="country"
        label="Country"
        [required]="true"
        [span]="4"
        [messages]="messages()['address.country']"
      >
        <p-select
          inputId="countryInput"
          formControlName="country"
          [options]="countries"
          optionLabel="name"
          optionValue="code"
          placeholder="Choose a country"
          [filter]="true"
          filterBy="name"
          appendTo="body"
        />
      </app-form-field>
    </div>
  </section>

  @if (formMessages().length > 0) {
    <div class="contact-form__form-errors" role="alert">
      @for (message of formMessages(); track message) {
        <p-message severity="error">{{ message }}</p-message>
      }
    </div>
  }

  <footer class="contact-form__actions">
    <span class="contact-form__required-note" aria-hidden="true">* Required</span>

    <p-button
      type="button"
      label="Cancel"
      severity="secondary"
      [outlined]="true"
      [disabled]="saving()"
      (onClick)="onCancel()"
    />
    <p-button
      type="submit"
      label="Save"
      icon="pi pi-check"
      [loading]="saving()"
      [disabled]="saving()"
    />
  </footer>
</form>
